Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

add /whoami endpoint and document AuthRoutes
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtPlayerDirectives.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/GameLifecycleStatus.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/JwtPlayerDirectivesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
Due: server

return Player object directly in /whoami endpoint
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
Due: server

expose endpoint for retrieving lobby metadata; remove route ambiguity from Route classes
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

add route for leaving a lobby
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

override testcontainers' shaded docker-java API version to support Docker Desktop 4.72+
  build.sbt
  game-service-persistence/src/test/resources/docker-java.properties
  game-service-persistence/src/test/resources/logback-test.xml
Due: none

add sbt aliases for formatting and ci
  build.sbt
Due: none

introduce LobbyError sealed trait for typed lobby error responses Closes #17
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/LobbyError.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

extract LobbyManager actor from GameManager Closes #4
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

stop game actors on completion and serve state from DB fallback Closes #9
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
Due: server

evict completed and cancelled lobbies via Scaffeine TTL cache Closes #6
  build.sbt
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
Due: server

introduce PlayerActor, PlayerManager, and fan-out infrastructure
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerEvent.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
Due: server

document actor relationships in scaladocs
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
Due: server

fix unrecognized Scaladoc tags in route files
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
Due: server

add JSON serialization for PlayerEvent (write-only, tagged union format)
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
Due: server

wire wsOut through PlayerActor, PlayerManager, and GameManager for WebSocket delivery
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerManagerSpec.scala
Due: server

add WebSocket endpoint wiring PlayerActor to client stream (closes #8)
  build.sbt
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
Due: server

add test coverage for web socket routes
  build.sbt
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
Due: none

add pagination and gameType filter to GET /lobby/list (closes #12)
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

improve scaladoc coverage across all modules
  .scalafmt.conf
  game-service-model/src/main/scala/com/andy327/model/core/package.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/GameStatus.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/package.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresTransactor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerEvent.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PostgresActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
Due: model, persistence, server

build aggregate coverage report
  build.sbt
Due: none

remove defensive Try wrapper in PersistActor and consolidate GameType parsing in persistence
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresGameRepository.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/persistence/PostgresActorSpec.scala
Due: persistence, server

decouple LobbyManager from GameManager response types for lobby listing
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
Due: server

standardize protocol documentation, expand behavior scaladocs
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistenceProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
Due: server

remove unused S type param from GameActor, parameterize GameModule[G], move subscribeCommand to GameActor
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
Due: server

inject IORuntime from top level instead of creating it locally in each actor
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PostgresActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/persistence/PostgresActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
Due: server

validate player count against GameType bounds in GameManager instead of per-actor require
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: server

fix scaladoc links; remove GameServer from test coverage
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
Due: server

standardize test patterns and extract shared fixtures
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/GameServerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/persistence/PostgresActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
Due: none

key LobbyManager subscriber map by PlayerId and auto-unsubscribe on leave
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
Due: server

auto-subscribe connected players to lobby push events on create and join
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
Due: server

add spectator subscribe endpoints and reformat route scaladoc
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

close coverage gaps for subscribe spectator endpoints
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

reject lobby subscribe if InProgress, update auto-subscribe to pass ignoreRef, drop dead SubscribeToLobby command
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/LobbyError.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

Path conditions:
  model: any of: game-service-model/src/main/
  persistence: any of: game-service-persistence/src/main/
  server: any of: game-service-server/src/main/
