Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

retype the Checkers view to domain pieces and carry legal moves
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/checkers/CheckersActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/CheckersModuleSpec.scala
  game-service-model/src/main/scala/com/andy327/model/checkers/Checkers.scala
  game-service-model/src/test/scala/com/andy327/model/checkers/CheckersSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: model, server

scope each view's legal moves to the viewer's own turn
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/CheckersModuleSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/ConnectFourModuleSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/PigModuleSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/TicTacToeModuleSpec.scala
Due: none

retype the Battleship view to fogged cells and carry legal moves
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/battleship/BattleshipActorSpec.scala
  game-service-model/src/main/scala/com/andy327/model/battleship/Battleship.scala
  game-service-model/src/test/scala/com/andy327/model/battleship/BattleshipSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/BattleshipStateSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
Due: model, server

retype the Mastermind view to domain pegs and roles
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/MastermindModuleSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/MastermindStateSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

retype the Liar's Dice view to domain bids and carry legal moves
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/LiarsDiceStateSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/LiarsDiceModuleSpec.scala
  game-service-model/src/main/scala/com/andy327/model/liarsdice/LiarsDice.scala
  game-service-model/src/test/scala/com/andy327/model/liarsdice/LiarsDiceSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: model, server

retype the Texas Hold 'Em view to domain cards and carry the betting range
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/TexasHoldEmStateSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/TexasHoldEmModuleSpec.scala
  game-service-model/src/main/scala/com/andy327/model/holdem/TexasHoldEm.scala
  game-service-model/src/test/scala/com/andy327/model/holdem/TexasHoldEmSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: model, server

add bot identity and host-managed bot seats in pre-game lobbies
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/BotId.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyError.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/lobby/BotIdSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

add the AiPolicy seam with a random-legal baseline for every game
  game-service-actor/src/main/scala/com/andy327/actor/bot/AiPolicy.scala
  game-service-actor/src/main/scala/com/andy327/actor/bot/BotPolicies.scala
  game-service-actor/src/main/scala/com/andy327/actor/bot/RandomPolicy.scala
  game-service-actor/src/test/scala/com/andy327/actor/bot/RandomPolicySpec.scala
Due: none

add the BotActor session that plays a seat via the human move path
  game-service-actor/src/main/scala/com/andy327/actor/bot/BotActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/bot/BotActorSpec.scala
Due: none

spawn bot players when a game with bot seats starts or is restored
  game-service-actor/src/main/scala/com/andy327/actor/bot/BotConfig.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/bot/BotConfigSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerBotSpec.scala
Due: none

add a host-only Add bot button to the pre-game lobby
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/lobby.js
  game-service-server/src/main/resources/web/main.js
Due: server

show the lobby roster and let the host remove a seated bot
  game-service-server/src/main/resources/web/board.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/lobby.js
  game-service-server/src/main/resources/web/style.css
Due: server

carry a chosen difficulty on each bot seat, with a lobby selector
  game-service-actor/src/main/scala/com/andy327/actor/bot/BotPolicies.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyCodecs.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyMetadata.scala
  game-service-actor/src/test/scala/com/andy327/actor/bot/BotDifficultySpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/bot/RandomPolicySpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/lobby/LobbyCodecsSpec.scala
  game-service-server/src/main/resources/web/board.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/lobby.js
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

update README with AI player additions
  README.md
  docs/images/architecture-dark.png
  docs/images/architecture.png
Due: none

add community health files (CONTRIBUTING, SECURITY, issue/PR templates)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

Path conditions:
  model: any of: game-service-model/src/main/
  persistence: any of: game-service-persistence/src/main/
  server: any of: game-service-server/src/main/
