Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

flesh out README with overview, requirements, architecture, and roadmap
  README.md
  docs/images/architecture-dark.png
  docs/images/architecture.png
Due: none

register Battleship as a persistable GameType: GameType.Battleship + GameTypeCodecs
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
Due: model, persistence, server

wire Battleship into the server with per-viewer fog-of-war: BattleshipState + GameStateView, module/actor bindings, route + GameRegistry
  README.md
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/battleship/BattleshipActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
  game-service-server/src/main/scala/com/andy327/server/game/MovePayload.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/BattleshipModule.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/GameState.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/actors/battleship/BattleshipActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/BattleshipModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/BattleshipStateSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: model, server

add Game.playerLeft forfeit transition for two-player games
  game-service-model/src/main/scala/com/andy327/model/battleship/Battleship.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/core/Game.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-model/src/test/scala/com/andy327/model/battleship/BattleshipSpec.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
Due: model

wire leaving an in-progress game to a forfeit: PlayerLeft command, GameManager routing, /leave route
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

add game-analytics emit seam + Prometheus consumer
  build.sbt
  game-service-server/src/main/scala/com/andy327/server/analytics/AnalyticsConsumer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/AnalyticsPublisher.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameAnalyticsEvent.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/MetricsRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/AnalyticsConsumerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameAnalyticsEventSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/RedisAnalyticsPublisherSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/MetricsRoutesSpec.scala
Due: server

wire analytics seam through actors; remove dead Redis relay-receive
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameAnalyticsEvent.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/GameEventPublisher.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/GameEventSubscriber.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/RedisPubSubResource.scala
  game-service-server/src/test/scala/com/andy327/server/actors/battleship/BattleshipActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/GameEventSubscriberSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/RedisGameEventPublisherSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/RedisPubSubResourceSpec.scala
Due: server

add argon2 password hashing dependency and auth/jwt-ttl config
  build.sbt
  game-service-server/src/main/resources/application.conf
Due: server

add accounts table and UserRepository (postgres + in-memory)
  game-service-persistence/src/main/scala/com/andy327/persistence/db/InMemoryUserRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/UserRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresUserRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/InMemoryUserRepositorySpec.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/postgres/PostgresUserRepositorySpec.scala
Due: persistence

add password identity provider with argon2 hashing
  game-service-server/src/main/scala/com/andy327/server/auth/IdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/auth/PasswordHasher.scala
  game-service-server/src/main/scala/com/andy327/server/auth/PasswordIdentityProvider.scala
  game-service-server/src/test/scala/com/andy327/server/auth/PasswordHasherSpec.scala
  game-service-server/src/test/scala/com/andy327/server/auth/PasswordIdentityProviderSpec.scala
Due: server

add iat/exp claims to issued JWTs via JwtIssuer
  game-service-server/src/main/scala/com/andy327/server/auth/JwtIssuer.scala
  game-service-server/src/main/scala/com/andy327/server/config/JwtConfig.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/auth/JwtIssuerSpec.scala
Due: server

replace self-asserted identity with credentialed register/login
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/auth/IdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/auth/PasswordIdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthRequests.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/PlayerRequest.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/auth/PasswordIdentityProviderSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
Due: server

equalize login timing to avoid leaking which emails exist
  game-service-server/src/main/scala/com/andy327/server/auth/PasswordIdentityProvider.scala
Due: server

validate and normalize registration input
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthValidation.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/AuthValidationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
Due: server

document credentialed auth and align test token helper
  README.md
  game-service-server/src/test/scala/com/andy327/server/testutil/AuthTestHelper.scala
Due: none

tidy auth repository doc comments
  game-service-persistence/src/main/scala/com/andy327/persistence/db/UserRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresUserRepository.scala
Due: persistence

update architecture diagrams with user accounts
  docs/images/architecture-dark.png
  docs/images/architecture.png
Due: none

darken text on architecture diagram for dark mode
  docs/images/architecture-dark.png
Due: none

add authenticated password-change endpoint and document deferred auth hardening
  README.md
  game-service-server/src/main/scala/com/andy327/server/auth/IdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/auth/PasswordIdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthRequests.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthValidation.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/auth/PasswordIdentityProviderSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/AuthValidationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
Due: server

update README to reflect the shipped analytics pipeline
  README.md
Due: none

add /auth/password to AuthRoutes route summary
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
Due: server

add PlayerHistoryRepository with Postgres and in-memory implementations
  game-service-persistence/src/main/scala/com/andy327/persistence/db/InMemoryPlayerHistoryRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/PlayerHistoryRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresPlayerHistoryRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/InMemoryPlayerHistoryRepositorySpec.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/postgres/PostgresPlayerHistoryRepositorySpec.scala
Due: persistence

add Game.players roster accessor for per-player result recording
  game-service-model/src/main/scala/com/andy327/model/battleship/Battleship.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/core/Game.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-model/src/test/scala/com/andy327/model/battleship/BattleshipSpec.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: model

record per-player game results to history on completion
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistenceProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PostgresActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/persistence/PostgresActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: server

add GET /auth/me/history endpoint for player game history
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/PlayerHistoryResponse.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
Due: server

document player game history in README and analytics note
  README.md
  game-service-server/src/main/scala/com/andy327/server/analytics/GameAnalyticsEvent.scala
Due: server

reflect player game history in docs and architecture diagrams
  README.md
  docs/images/architecture-dark.png
  docs/images/architecture.png
Due: none

add LobbyManager query for a player's joined lobbies
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
Due: server

track active games per player and surface them via GetPlayerSessions
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
Due: server

add GET /players/me/sessions endpoint for live player participation
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/PlayerSessionsResponse.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/PlayerRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/PlayerRoutesSpec.scala
Due: server

move player history endpoint to /players/me/history and off AuthRoutes
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/PlayerHistoryResponse.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/PlayerRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/PlayerRoutesSpec.scala
Due: server

document live participation lookup in README
  README.md
Due: none

collapse PlayerSessionsResponse into the GameManager.PlayerSessions reply
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/PlayerSessionsResponse.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/PlayerRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/PlayerRoutesSpec.scala
Due: server

remove redundant SubscribeToGame command in favor of SubscribePlayerToGame
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
Due: server

add unsubscribe endpoints for games/lobbies and host lobby cancel
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

reorder GameManager/LobbyManager commands consistently and extract askPlayerRef helper
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
Due: server

migrate lobby host to a remaining member on host leave instead of cancelling
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
Due: server

fill out getting started and api reference documentation
  README.md
Due: none

decouple PlayerActor from WebSocket transport; render push events to JSON at the edge
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
Due: server

move GameAnalyticsEvent wire codec off the domain ADT to the edge
  game-service-server/src/main/scala/com/andy327/server/analytics/AnalyticsConsumer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/AnalyticsPublisher.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameAnalyticsCodecs.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameAnalyticsEvent.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/RedisAnalyticsPublisher.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/AnalyticsConsumerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameAnalyticsEventSpec.scala
Due: server

Path conditions:
  model: any of: game-service-model/src/main/
  persistence: any of: game-service-persistence/src/main/
  server: any of: game-service-server/src/main/
