Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

add shared per-turn timer with forfeit-by-default policy
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/TurnBasedGameActorTimeoutSpec.scala
Due: none

relax Pig Hold at zero turn score to pass the turn
  game-service-model/src/main/scala/com/andy327/model/pig/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/pig/Pig.scala
  game-service-model/src/test/scala/com/andy327/model/pig/PigSpec.scala
Due: model

wire per-game turn-timeout policies and enable Texas Hold 'Em clock
  game-service-actor/src/main/resources/reference.conf
  game-service-actor/src/main/scala/com/andy327/actor/pig/PigActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/texasholdem/TexasHoldEmActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/TurnTimeoutConfigSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/pig/PigActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/texasholdem/TexasHoldEmActorSpec.scala
Due: none

document per-turn timeouts in README
  README.md
Due: none

add pre-action buttons to the Texas Hold 'Em web UI
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/style.css
Due: server

reveal the full community board at the Texas Hold 'Em showdown
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/style.css
Due: server

split the web client's app.js into per-concern JavaScript modules
  game-service-server/src/main/resources/web/api.js
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/auth.js
  game-service-server/src/main/resources/web/board.js
  game-service-server/src/main/resources/web/chat.js
  game-service-server/src/main/resources/web/debug.js
  game-service-server/src/main/resources/web/deeplinks.js
  game-service-server/src/main/resources/web/games/battleship.js
  game-service-server/src/main/resources/web/games/holdem.js
  game-service-server/src/main/resources/web/games/liarsdice.js
  game-service-server/src/main/resources/web/games/mastermind.js
  game-service-server/src/main/resources/web/games/pig.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/lobby.js
  game-service-server/src/main/resources/web/main.js
  game-service-server/src/main/resources/web/socket.js
  game-service-server/src/main/resources/web/state.js
  game-service-server/src/main/resources/web/view.js
  game-service-server/src/main/scala/com/andy327/server/http/routes/StaticRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/StaticRoutesSpec.scala
Due: server

update architecture diagrams with auth hardening changes
  docs/images/architecture-dark.png
  docs/images/architecture.png
Due: none

add gameplay gif to README
  README.md
  docs/images/liarsdice.gif
Due: none

document web client, auth hardening, and message tracing in README
  README.md
Due: none

add optional host-chosen lobby names
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyMetadata.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/lobby/LobbyCodecsSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/PlayerRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
Due: server

show and set lobby names in the web client
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/lobby.js
Due: server

add EmailSender seam and single-use TTL'd token store
  game-service-server/src/main/resources/application.conf
  game-service-server/src/main/scala/com/andy327/server/auth/EmailSender.scala
  game-service-server/src/main/scala/com/andy327/server/auth/RedisSingleUseTokenStore.scala
  game-service-server/src/main/scala/com/andy327/server/auth/ResendEmailSender.scala
  game-service-server/src/main/scala/com/andy327/server/auth/SingleUseTokenStore.scala
  game-service-server/src/main/scala/com/andy327/server/config/AuthResetConfig.scala
  game-service-server/src/main/scala/com/andy327/server/config/EmailConfig.scala
  game-service-server/src/test/scala/com/andy327/server/auth/EmailSenderSpec.scala
  game-service-server/src/test/scala/com/andy327/server/auth/RedisSingleUseTokenStoreSpec.scala
  game-service-server/src/test/scala/com/andy327/server/auth/SingleUseTokenStoreSpec.scala
  game-service-server/src/test/scala/com/andy327/server/config/AuthResetConfigSpec.scala
  game-service-server/src/test/scala/com/andy327/server/config/EmailConfigSpec.scala
Due: server

add forgot-password and reset-password endpoints
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/auth/IdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/auth/PasswordIdentityProvider.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthRequests.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthValidation.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/auth/PasswordIdentityProviderSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/AuthValidationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesResetSpec.scala
Due: server

add nullable email_verified_at column to accounts
  game-service-persistence/src/main/scala/com/andy327/persistence/db/InMemoryUserRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/UserRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresUserRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/InMemoryUserRepositorySpec.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/postgres/PostgresUserRepositorySpec.scala
Due: persistence

add email verification endpoints and verified flag on whoami
  game-service-server/src/main/resources/application.conf
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/config/AuthVerificationConfig.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthRequests.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthValidation.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/WhoamiResponse.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/config/AuthVerificationConfigSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/AuthValidationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesResetSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesRevocationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesVerifySpec.scala
Due: server

document password reset and email verification in README
  README.md
Due: none

update auth stores in architecture diagram
  docs/images/architecture-dark.png
  docs/images/architecture.png
Due: none

move test-only in-memory auth fakes to src/test
  game-service-server/src/main/scala/com/andy327/server/auth/AuthRateLimiter.scala
  game-service-server/src/main/scala/com/andy327/server/auth/EmailSender.scala
  game-service-server/src/main/scala/com/andy327/server/auth/RevocationStore.scala
  game-service-server/src/test/scala/com/andy327/server/auth/InMemoryAuthRateLimiter.scala
  game-service-server/src/test/scala/com/andy327/server/auth/InMemoryEmailSender.scala
  game-service-server/src/test/scala/com/andy327/server/auth/InMemoryRevocationStore.scala
Due: server

bump redis4cats to 2.0.5 (cats-effect 3.7.0, Scala 2.13.18, semanticdb 4.13.9, sbt-scoverage 2.4.4)
  build.sbt
  project/plugins.sbt
Due: none

simplify single-use token redemption with GETDEL
  game-service-server/src/main/scala/com/andy327/server/auth/RedisSingleUseTokenStore.scala
  game-service-server/src/test/scala/com/andy327/server/auth/RedisSingleUseTokenStoreSpec.scala
Due: server

add shared http.model error envelope and unify HTTP error/advisory bodies
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtAuthenticator.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/model/Responses.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/PlayerRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

add AuthResponses with TokenResponse and relocate WhoamiResponse into it
  game-service-server/src/main/scala/com/andy327/server/http/auth/AuthResponses.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

move PlayerGameSummary and PlayerHistory to a new http.player package
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/player/PlayerHistory.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/PlayerRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/PlayerRoutesSpec.scala
Due: server

group JsonProtocol codecs into labeled sections
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
Due: server

fix scaladoc spacing in JsonProtocol
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
Due: server

revamp Connect Four, Pig, and Battleship board visuals
  game-service-server/src/main/resources/web/board.js
  game-service-server/src/main/resources/web/games/pig.js
  game-service-server/src/main/resources/web/style.css
Due: server

add persistence-layer deep-dive article
  docs/fast-and-durable.md
  docs/images/analytics.png
  docs/images/redis-jobs.png
  docs/images/stage0.png
  docs/images/stage1.png
  docs/images/stage2.png
Due: none

refine explanation of write-through cache method
  docs/fast-and-durable.md
Due: none

add Checkers rules engine to the model
  game-service-model/src/main/scala/com/andy327/model/checkers/Checkers.scala
  game-service-model/src/main/scala/com/andy327/model/checkers/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/checkers/package.scala
  game-service-model/src/test/scala/com/andy327/model/checkers/CheckersSpec.scala
Due: model

add Checkers persistence codecs
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
Due: model, persistence

wire Checkers into the actor layer
  game-service-actor/src/main/scala/com/andy327/actor/checkers/CheckersActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameRegistry.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/MovePayload.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/CheckersModule.scala
  game-service-actor/src/test/scala/com/andy327/actor/checkers/CheckersActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/CheckersModuleSpec.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
Due: model

add Checkers server route and metrics label
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
Due: server

add Checkers to the web UI and update the README
  README.md
  game-service-server/src/main/resources/web/board.js
  game-service-server/src/main/resources/web/games/checkers.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/main.js
  game-service-server/src/main/resources/web/state.js
  game-service-server/src/main/resources/web/style.css
Due: server

expose each player's seat in the Checkers view
  README.md
  game-service-actor/src/main/scala/com/andy327/actor/checkers/CheckersActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/checkers/CheckersActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/CheckersModuleSpec.scala
  game-service-server/src/main/resources/web/board.js
  game-service-server/src/main/resources/web/games/checkers.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
Due: server

add test coverage for CheckersState case of gameStateEncoder
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: none

evict pre-game lobbies left with no connected players
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
Due: none

add golden wire-format tests pinning every game view's JSON
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
Due: none

retype the shared grid view to domain marks and carry legal moves
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/connectfour/ConnectFourActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/PlayerActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/TurnBasedGameActorTimeoutSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
Due: model, server

retype the Pig view to seat indices and carry legal moves
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/PigModuleSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/pig/PigActorSpec.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/GameStateWireSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: model, server

Path conditions:
  model: any of: game-service-model/src/main/
  persistence: any of: game-service-persistence/src/main/
  server: any of: game-service-server/src/main/
