Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

.codecov.yml:

coverage:
  status:
    patch:
      default:
        target: 80%
        threshold: 5%
        informational: true
        if_not_found: success
    project:
      default:
        target: 90%
        threshold: 1%
        informational: true
        if_not_found: success

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  after_n_builds: 1

flags:
  model:
    paths:
      - game-service-model/src/main/
  persistence:
    paths:
      - game-service-persistence/src/main/
  server:
    paths:
      - game-service-server/src/main/

add docker-compose and local dev defaults to application.conf
  docker-compose.yml
  game-service-server/src/main/resources/application.conf
Due: server

game actors self-terminate on completion, skip restoring completed games, push state on subscribe
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: server

enable WebSocket keep-alive pings to survive idle periods between moves
  game-service-server/src/main/resources/application.conf
Due: server

add ConnectFour game model
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/GameStatus.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/package.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
Due: model

add ConnectFour actor, module, and JSON serialization
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/MovePayload.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/ConnectFourModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/GameState.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/MoveRequest.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/ConnectFourModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: model, server

wire ConnectFour into persistence, registry, and routes
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresGameRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: persistence, server

extract shared core.Mark trait; remove dead SnapshotLoaded from TicTacToeActor
  game-service-model/src/main/scala/com/andy327/model/connectfour/package.scala
  game-service-model/src/main/scala/com/andy327/model/core/Mark.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/package.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresGameRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: model, persistence, server

log in-progress game restoration at startup in TicTacToeActor and ConnectFourActor
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
Due: server

unify GameStatus into core as a parameterized sealed trait
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/GameStatus.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameStatus.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/GameStatus.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/GameState.scala
Due: model, server

remove redundant Unknown from tictactoe.GameError
  game-service-model/src/main/scala/com/andy327/model/tictactoe/GameError.scala
Due: model

add Redis infrastructure (redis4cats, config, docker-compose, smoke test)
  build.sbt
  docker-compose.yml
  game-service-persistence/src/main/scala/com/andy327/persistence/db/redis/RedisClientResource.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/redis/RedisClientResourceSpec.scala
  game-service-server/src/main/resources/application.conf
Due: persistence, server

add Redis write-through game state cache (RedisGameRepository, GameServer wiring, tests)
  game-service-persistence/src/main/scala/com/andy327/persistence/db/redis/RedisClientResource.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/redis/RedisGameRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/redis/RedisGameRepositorySpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
Due: persistence, server

persist lobby state to Redis and restore on startup via RedisLobbyRepository
  build.sbt
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/LobbyCodecs.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/LobbyRepository.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/RedisLobbyRepository.scala
  game-service-server/src/test/scala/com/andy327/server/GameServerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/lobby/LobbyCodecsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/lobby/RedisLobbyRepositorySpec.scala
Due: persistence, server

add Redis Pub/Sub for cross-instance WebSocket fan-out
  build.sbt
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/GameEventPublisher.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/GameEventSubscriber.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/RedisPubSubResource.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/GameEventSubscriberSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/RedisGameEventPublisherSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/RedisPubSubResourceSpec.scala
Due: server

always mark lobbies completed on game end; fixes restored-lobby leak after restart
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
Due: server

reject LeaveLobby once the game is in progress; prevents lobby state corruption mid-game (refs #28)
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/LobbyError.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
Due: server

map game operation errors to proper HTTP statuses (404 unknown game, 409 rejected move, 500 internal)
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
Due: server

close the WebSocket on player disconnect and guard reconnects against stale session teardown
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerManager.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameOperation.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/GameEventSubscriberSpec.scala
Due: server

provision Redis and a generated JWT secret on Render; align JRE and Postgres versions
  Dockerfile
  render.yaml
Due: none

flag self-asserted identity and missing token expiry in AuthRoutes (refs #29)
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
Due: server

remove dead code: MoveRequest classes, LoadSnapshot path, duplicated turn validation
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistenceProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PostgresActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/MoveRequest.scala
  game-service-server/src/test/scala/com/andy327/server/actors/persistence/PostgresActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
Due: server

fix doc typos and stale wording; add persistence redis default
  .scalafix.conf
  build.sbt
  game-service-persistence/src/main/resources/reference.conf
  game-service-persistence/src/main/scala/com/andy327/persistence/db/GameRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresGameRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/redis/RedisGameRepository.scala
Due: persistence

define shared game errors once in core.GameError; per-game files keep only rule-specific cases
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/connectfour/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: model, server

unify per-game state views into GridGameState; move view instances into GameStateView companion
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/ConnectFourModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/GameState.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/ConnectFourModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/RedisGameEventPublisherSpec.scala
Due: server

implement the game actor once as TurnBasedGameActor; per-game actors become bindings
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/core/Game.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-model/src/test/scala/com/andy327/model/connectfour/ConnectFourSpec.scala
  game-service-model/src/test/scala/com/andy327/model/tictactoe/TicTacToeSpec.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/ConnectFourModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/ConnectFourModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
Due: model, server

replace spray-json with Circe across the HTTP layer; reuse canonical value codecs
  build.sbt
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerActor.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtPlayerDirectives.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/CirceSupport.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/GameEventPublisher.scala
  game-service-server/src/test/scala/com/andy327/server/GameServerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

auto-drop subscribers on termination via watch; clean up pub/sub registry on disconnect
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/pubsub/GameEventSubscriber.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/pubsub/GameEventSubscriberSpec.scala
Due: server

add append-only MoveHistoryRepository backed by Postgres game_moves table
  game-service-persistence/src/main/scala/com/andy327/persistence/db/MoveHistoryRepository.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/postgres/PostgresMoveHistoryRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/postgres/PostgresMoveHistoryRepositorySpec.scala
Due: persistence

record each move to the history log via fire-and-forget AppendMove
  game-service-model/src/main/scala/com/andy327/model/connectfour/ConnectFour.scala
  game-service-model/src/main/scala/com/andy327/model/core/Game.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PersistenceProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/actors/persistence/PostgresActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/test/scala/com/andy327/server/GameServerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/persistence/PostgresActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
Due: model, server

expose move history via GET /{gameType}/{gameId}/history backed by GameManager
  game-service-persistence/src/main/scala/com/andy327/persistence/db/NoOpMoveHistoryRepository.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/NoOpMoveHistoryRepositorySpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
Due: persistence, server

surface snapshot-save failures instead of discarding them in the persistence reply adapter
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
Due: server

test that PlayerDisconnected unregisters the player from the pub/sub subscriber
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
Due: none

harden flaky RedisPubSubResourceSpec against a lost-message hang
  game-service-server/src/test/scala/com/andy327/server/pubsub/RedisPubSubResourceSpec.scala
Due: none

add chat message protocol: ChatMessage push event and ClientMessage.ChatSend
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerEvent.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/ClientMessage.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

deliver chat over WebSockets: inbound ClientMessage path and SendChat fan-out
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/WebSocketRoutesSpec.scala
Due: server

persist chat history: Redis ring-buffer store and GET /chat backscroll endpoint
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/chat/ChatCodecs.scala
  game-service-server/src/main/scala/com/andy327/server/chat/ChatRepository.scala
  game-service-server/src/main/scala/com/andy327/server/chat/NoOpChatRepository.scala
  game-service-server/src/main/scala/com/andy327/server/chat/RedisChatRepository.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/chat/RedisChatRepositorySpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
Due: server

make chat history retention configurable via pekko-game-service.chat.max-messages
  game-service-server/src/main/resources/application.conf
  game-service-server/src/main/resources/reference.conf
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
Due: server

make game-state serialization viewer-aware (thread Option[PlayerId] through GameStateView/GameModule; ignored by full-information games)
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/ConnectFourModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/GameState.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/ConnectFourModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

make game-actor subscribers identity-aware and serialize per viewer (Map[ActorRef,PlayerId]; Subscribe carries playerId; ignored by full-information games)
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/LobbyManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/ConnectFourModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
Due: server

add Battleship game model: two-player hidden-state game (Fire moves, random fleet placement, hit/sink/win logic) + spec
  game-service-model/src/main/scala/com/andy327/model/battleship/Battleship.scala
  game-service-model/src/main/scala/com/andy327/model/battleship/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/battleship/package.scala
  game-service-model/src/test/scala/com/andy327/model/battleship/BattleshipSpec.scala
Due: model
