Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

add TraceCollector actor with bounded in-memory buffer and eviction tests
  game-service-actor/src/main/resources/reference.conf
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TraceCollector.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TraceEvent.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingConfig.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingInterceptor.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TraceCollectorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TracingInterceptorSpec.scala
  game-service-server/src/main/resources/application.conf
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
Due: server

add per-message-type sample-rate overrides for high-frequency message types
  game-service-actor/src/main/resources/reference.conf
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingConfig.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingInterceptor.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TracingConfigSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TracingInterceptorSpec.scala
  game-service-server/src/main/resources/application.conf
Due: server

add Subscribe/Unsubscribe push fan-out to TraceCollector, with auto-cleanup on subscriber termination
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TraceCollector.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TraceCollectorSpec.scala
Due: none

add GameManager.GetTraceCollector for HTTP-layer access to the collector, and move trace-collector ownership into GameManager.apply
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
Due: server

add TraceRoutes debug WebSocket endpoint and TraceEvent wire codec
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/TraceRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/TraceRoutesSpec.scala
Due: server

make WebSocketRoutes' scaladoc consistent with the Route Summary convention used elsewhere
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
Due: server

add live trace event log to the debug web UI
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add node-pulse graph view to the debug web UI
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

Revert "add node-pulse graph view to the debug web UI"
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

drop TraceEvent.from, which was never populatable and is now unused
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TraceEvent.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingInterceptor.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TraceCollectorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TracingInterceptorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/TraceRoutesSpec.scala
Due: none

add Pig actor and module wiring
  game-service-actor/src/main/scala/com/andy327/actor/game/GameRegistry.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/MovePayload.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/PigModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/pig/PigActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/PigModuleSpec.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
Due: model, persistence

add PigModule, PigActor, and module-level tests
  game-service-actor/src/main/scala/com/andy327/actor/pig/PigActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/PigModuleSpec.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
Due: none

wire Pig into server routes and JSON protocol
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/PigModule.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/PigModuleSpec.scala
  game-service-model/src/main/scala/com/andy327/model/pig/Pig.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: model, server

add Pig to the web UI
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
Due: server

align game-type docs and shorten scaladoc links
  game-service-actor/src/main/scala/com/andy327/actor/battleship/BattleshipActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/connectfour/ConnectFourActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/BattleshipModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/ConnectFourModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/PigModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/TicTacToeModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/pig/PigActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/tictactoe/TicTacToeActor.scala
  game-service-model/src/main/scala/com/andy327/model/core/Game.scala
  game-service-model/src/main/scala/com/andy327/model/pig/Pig.scala
  game-service-model/src/main/scala/com/andy327/model/tictactoe/TicTacToe.scala
Due: model

group LobbyManager internal handlers to match declaration order
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
Due: none

update readme with completed status of Pig
  README.md
Due: none

add Mastermind game model
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
  game-service-model/src/main/scala/com/andy327/model/mastermind/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/mastermind/Mastermind.scala
  game-service-model/src/main/scala/com/andy327/model/mastermind/package.scala
  game-service-model/src/test/scala/com/andy327/model/mastermind/MastermindSpec.scala
Due: model

add Mastermind persistence codecs
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
Due: persistence

add Mastermind actor and module wiring
  game-service-actor/src/main/scala/com/andy327/actor/game/GameRegistry.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/MovePayload.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/MastermindModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/mastermind/MastermindActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/MastermindModuleSpec.scala
Due: none

wire Mastermind into server routes and JSON protocol
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/MastermindModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/mastermind/MastermindActor.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/MastermindStateSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

add Mastermind to the web UI and update the README
  README.md
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add Liar's Dice game model
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
  game-service-model/src/main/scala/com/andy327/model/liarsdice/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/liarsdice/LiarsDice.scala
  game-service-model/src/main/scala/com/andy327/model/liarsdice/package.scala
  game-service-model/src/test/scala/com/andy327/model/liarsdice/LiarsDiceSpec.scala
Due: model

add Liar's Dice persistence codecs
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
Due: persistence

wire Liar's Dice into the actor layer
  game-service-actor/src/main/scala/com/andy327/actor/game/GameRegistry.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/MovePayload.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/LiarsDiceModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/liarsdice/LiarsDiceActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/LiarsDiceStateSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/LiarsDiceModuleSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/liarsdice/LiarsDiceActorSpec.scala
Due: none

add Liar's Dice server routes and JSON protocol
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

add Liar's Dice web UI and update README
  README.md
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add Texas Hold 'Em hand evaluation
  game-service-model/src/main/scala/com/andy327/model/holdem/Card.scala
  game-service-model/src/main/scala/com/andy327/model/holdem/Hand.scala
  game-service-model/src/main/scala/com/andy327/model/holdem/package.scala
  game-service-model/src/test/scala/com/andy327/model/holdem/HandSpec.scala
Due: model

add Texas Hold 'Em game flow
  game-service-model/src/main/scala/com/andy327/model/core/GameType.scala
  game-service-model/src/main/scala/com/andy327/model/core/GameTypeTag.scala
  game-service-model/src/main/scala/com/andy327/model/holdem/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/holdem/TexasHoldEm.scala
  game-service-model/src/test/scala/com/andy327/model/holdem/TexasHoldEmSpec.scala
Due: model

add Texas Hold 'Em persistence codecs
  game-service-persistence/src/main/scala/com/andy327/persistence/db/schema/GameTypeCodecs.scala
  game-service-persistence/src/test/scala/com/andy327/persistence/db/schema/GameTypeCodecsSpec.scala
Due: persistence

wire Texas Hold 'Em into the actor layer
  game-service-actor/src/main/scala/com/andy327/actor/game/GameRegistry.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/GameState.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/MovePayload.scala
  game-service-actor/src/main/scala/com/andy327/actor/game/modules/TexasHoldEmModule.scala
  game-service-actor/src/main/scala/com/andy327/actor/texasholdem/TexasHoldEmActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/TexasHoldEmStateSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/game/modules/TexasHoldEmModuleSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/texasholdem/TexasHoldEmActorSpec.scala
  game-service-model/src/main/scala/com/andy327/model/holdem/TexasHoldEm.scala
Due: model

add Texas Hold 'Em server routes and JSON protocol
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

add Texas Hold 'Em web UI and update README
  README.md
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add rate-limiter abstraction for auth endpoints
  game-service-server/src/main/resources/application.conf
  game-service-server/src/main/scala/com/andy327/server/auth/AuthRateLimiter.scala
  game-service-server/src/main/scala/com/andy327/server/auth/RedisAuthRateLimiter.scala
  game-service-server/src/main/scala/com/andy327/server/config/AuthRateLimitConfig.scala
  game-service-server/src/test/scala/com/andy327/server/auth/AuthRateLimiterSpec.scala
  game-service-server/src/test/scala/com/andy327/server/auth/RedisAuthRateLimiterSpec.scala
  game-service-server/src/test/scala/com/andy327/server/config/AuthRateLimitConfigSpec.scala
Due: server

enforce rate limiting and lockout on auth endpoints
  game-service-server/src/main/resources/application.conf
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesRateLimitSpec.scala
Due: server

extract injectable JwtAuthenticator from directive object
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/auth/AuthRateLimiter.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtAuthenticator.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/GameRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/LobbyRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/PlayerRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/TraceRoutes.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/JwtAuthenticatorSpec.scala
Due: server

add JWT revocation via per-account token cutoff
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/auth/RedisRevocationStore.scala
  game-service-server/src/main/scala/com/andy327/server/auth/RevocationStore.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtAuthenticator.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/AuthRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/auth/RedisRevocationStoreSpec.scala
  game-service-server/src/test/scala/com/andy327/server/auth/RevocationStoreSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/JwtAuthenticatorRevocationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/AuthRoutesRevocationSpec.scala
Due: server

document auth revocation and rate limiting in README
  README.md
Due: none

add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

add per-turn timeout config plumbing
  game-service-actor/src/main/resources/reference.conf
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnTimeoutConfig.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/TurnTimeoutConfigSpec.scala
Due: none

Path conditions:
  model: any of: game-service-model/src/main/
  persistence: any of: game-service-persistence/src/main/
  server: any of: game-service-server/src/main/
