Repository andy327/pekko-game-service: changes, and which Codecov flags are due for each by the changed paths.
All: model, persistence, server

relocate game view-state types to the game package and decouple Player from HTTP
  game-service-server/src/main/scala/com/andy327/server/actors/battleship/BattleshipActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/connectfour/ConnectFourActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/GameManager.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/PlayerEvent.scala
  game-service-server/src/main/scala/com/andy327/server/actors/core/TurnBasedGameActor.scala
  game-service-server/src/main/scala/com/andy327/server/actors/tictactoe/TicTacToeActor.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameRegistry.scala
  game-service-server/src/main/scala/com/andy327/server/game/GameState.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/BattleshipModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/ConnectFourModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/GameModule.scala
  game-service-server/src/main/scala/com/andy327/server/game/modules/TicTacToeModule.scala
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtPlayerDirectives.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/main/scala/com/andy327/server/lobby/Player.scala
  game-service-server/src/test/scala/com/andy327/server/actors/battleship/BattleshipActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/connectfour/ConnectFourActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/GameManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/core/PlayerActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/actors/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/BattleshipModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/ConnectFourModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/game/modules/TicTacToeModuleSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/JwtPlayerDirectivesSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/BattleshipStateSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/GameRoutesSpec.scala
Due: server

rename actor.analytics package to actor.events
  game-service-actor/src/main/scala/com/andy327/actor/core/GameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/events/AnalyticsPublisher.scala
  game-service-actor/src/main/scala/com/andy327/actor/events/GameAnalyticsEvent.scala
  game-service-actor/src/test/scala/com/andy327/actor/battleship/BattleshipActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/connectfour/ConnectFourActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/AnalyticsConsumer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameAnalyticsCodecs.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/RedisAnalyticsPublisher.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/AnalyticsConsumerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameAnalyticsEventSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/RedisAnalyticsPublisherSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/MetricsRoutesSpec.scala
Due: server

rename analytics emit-seam types to event-neutral names
  game-service-actor/src/main/scala/com/andy327/actor/core/GameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/events/EventPublisher.scala
  game-service-actor/src/main/scala/com/andy327/actor/events/GameEvent.scala
  game-service-actor/src/test/scala/com/andy327/actor/battleship/BattleshipActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/connectfour/ConnectFourActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/AnalyticsConsumer.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameEventCodecs.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/GameMetrics.scala
  game-service-server/src/main/scala/com/andy327/server/analytics/RedisAnalyticsPublisher.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/AnalyticsConsumerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameEventSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/GameMetricsSpec.scala
  game-service-server/src/test/scala/com/andy327/server/analytics/RedisAnalyticsPublisherSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/MetricsRoutesSpec.scala
Due: server

drop unused deps: scaffeine (server), doobie-postgres-circe (persistence)
  build.sbt
Due: none

update README project structure for the four-module layout
  README.md
Due: none

complete README design deep-dive, diagrams, and testing sections
  README.md
Due: none

accept WebSocket auth token via access_token query parameter
  game-service-server/src/main/scala/com/andy327/server/http/auth/JwtPlayerDirectives.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/WebSocketRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/auth/JwtPlayerDirectivesSpec.scala
Due: server

add static web UI served by Pekko HTTP
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
  game-service-server/src/main/scala/com/andy327/server/GameServer.scala
  game-service-server/src/main/scala/com/andy327/server/http/routes/StaticRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/StaticRoutesSpec.scala
Due: server

add chat and host visibility to the web UI, with no-cache for static assets
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
  game-service-server/src/main/scala/com/andy327/server/http/routes/StaticRoutes.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/StaticRoutesSpec.scala
Due: server

filter the lobby list by game type in the web UI
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
Due: server

hide the Start button once a game is underway
  game-service-server/src/main/resources/web/app.js
Due: server

add column drop buttons for Connect Four
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

auto-dismiss transient game and lobby errors
  game-service-server/src/main/resources/web/app.js
Due: server

add shareable lobby invite links via URL hash
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
Due: server

add a sessions panel to return to your active games and lobbies
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add email/password login with guest play and session persistence
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

fix StaticRoutesSpec marker after login rename
  game-service-server/src/test/scala/com/andy327/server/http/routes/StaticRoutesSpec.scala
Due: none

expand README overview to emphasize design-for-scale
  README.md
Due: none

add RoomId and MatchId aliases, mark GameId transitional
  game-service-model/src/main/scala/com/andy327/model/core/package.scala
Due: model

add play now button to readme
  README.md
Due: none

add lobby createdAt, sort lobby list newest-first, drop dead pre-game lobbies on restart
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyMetadata.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: none

thread roomId through game actor lifecycle and GameStateUpdated
  game-service-actor/src/main/scala/com/andy327/actor/core/GameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/PlayerEvent.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/battleship/BattleshipActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/connectfour/ConnectFourActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/PlayerActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
Due: server

mint fresh match ids server-side, re-key GameManager by room id
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyMetadata.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
Due: none

return players to the room as Finished on match end, enabling post-game chat
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/GameLifecycleStatus.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyCodecs.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/lobby/LobbyCodecsSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
Due: none

allow host rematch from a finished room with rotated seating
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyMetadata.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
Due: none

evict idle or empty post-game rooms on a timer
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/lobby/LobbyMetadata.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: none

surface finished rooms in player sessions, add post-game rematch UX to the client
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
Due: server

close two post-game-room race windows, document rematch in the README
  README.md
  game-service-actor/src/main/scala/com/andy327/actor/core/GameActor.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/PlayerEvent.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/connectfour/ConnectFourActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/tictactoe/TicTacToeActorSpec.scala
Due: none

prune GameManager's completedMatch entry when a room is retired for good
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
Due: none

track spectator counts for lobbies and live games
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/PlayerEvent.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/TurnBasedGameActor.scala
  game-service-actor/src/test/scala/com/andy327/actor/battleship/BattleshipActorSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/PlayerActorSpec.scala
  game-service-server/src/main/scala/com/andy327/server/http/json/JsonProtocol.scala
  game-service-server/src/test/scala/com/andy327/server/http/json/SerializationSpec.scala
  game-service-server/src/test/scala/com/andy327/server/http/routes/LobbyRoutesSpec.scala
Due: server

list in-progress and post-game rooms alongside joinable lobbies
  game-service-actor/src/main/scala/com/andy327/actor/core/LobbyManager.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/GameManagerSpec.scala
  game-service-actor/src/test/scala/com/andy327/actor/core/LobbyManagerSpec.scala
Due: none

add a spectate button with read-only chat and board
  game-service-server/src/main/resources/web/app.js
Due: server

let a spectator join an open lobby as a player
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add Battleship to the web UI
  game-service-server/src/main/resources/web/app.js
  game-service-server/src/main/resources/web/index.html
  game-service-server/src/main/resources/web/style.css
Due: server

add Pig model and unit tests
  game-service-model/src/main/scala/com/andy327/model/pig/GameError.scala
  game-service-model/src/main/scala/com/andy327/model/pig/Pig.scala
  game-service-model/src/main/scala/com/andy327/model/pig/package.scala
  game-service-model/src/test/scala/com/andy327/model/pig/PigSpec.scala
Due: model

add TraceEvent data model and TracingConfig with reference.conf defaults
  game-service-actor/src/main/resources/reference.conf
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TraceEvent.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingConfig.scala
  game-service-server/src/main/resources/application.conf
Due: server

add TracingInterceptor with pass-through and sampling tests
  game-service-actor/src/main/resources/reference.conf
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingConfig.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingInterceptor.scala
  game-service-actor/src/test/scala/com/andy327/actor/tracing/TracingInterceptorSpec.scala
  game-service-server/src/main/resources/application.conf
Due: server

wire TracingInterceptor into LobbyManager, PlayerManager, and game actor spawn points
  game-service-actor/src/main/scala/com/andy327/actor/core/GameManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/core/PlayerManager.scala
  game-service-actor/src/main/scala/com/andy327/actor/tracing/TracingInterceptor.scala
Due: none

Path conditions:
  model: any of: game-service-model/src/main/
  persistence: any of: game-service-persistence/src/main/
  server: any of: game-service-server/src/main/
